POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

BACKEND_PORT=
FRONTEND_PORT=

VITE_API_URL=

CAMERA_RTSP_URL=
CAMERA_ID=
BACKEND_URL=
VISION_CONFIDENCE=
VISION_LINE_POSITION=
VISION_DETECTION_INTERVAL=
VISION_RTSP_TRANSPORT=
VISION_STREAM_WIDTH=
VISION_STREAM_HEIGHT=

